.home-ban {
  width: 100%;
  background-color: black;
}

.home-margin {
  margin-bottom: 40px;
}

.home-software {
  text-align: center;
  padding: 10px 0px 10px 0px;
  .logo {
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 11px;
    img {
      height: 69px;
    }
  }
}

.home-video {
  color: white;
}

.home-espace {
  img {
    width: 100%;
    height: 100%;
}
  p {
    display: inline-block;
    margin-right: 20px;
  }
}

.home-materiel {
  img {
    width: 100%;
    height: 100%;
  }
}

.banner {
  color: white;
  text-align: center;
  height: 445px;
  background-size: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 20px;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}
