<div class="modal fade" id="Realisation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <div id="realisation-modal"><h4>Dessin numéro</h4></div>
        </div>
      </div>
    </div>
  </div>
