<div style="text-align:center;margin:auto;width:70%;">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe data-dismiss="modal" width="854" height="480" src= "https://www.youtube.com/embed/<%= @realisation.link %>" frameborder="1" allowfullscreen>
    </iframe>
  </div>
</div>
