/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: absolute;
  width: 100%;
  opacity: 1.7;
  text-align: center;
  color: white;
  top: 0px;
  z-index: 16;
}
.alert-info {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #009E6F 50%, rgba(0, 0, 0, 0) 101%);
  background-color: transparent;
  border: none;
  width: 50%;
  margin-left: 25%;
}
.alert-warning {
  background: $red;
}
.alert-danger {
  background: $color-line;
  position: relative;
  border-color: black;
  color: black;
}
